<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

</head>

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form>
            <a class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/login-admins">
                <img src="./assets/img/opciones/administrador.png" alt="administradores icono boton">
                <br>
                <strong>ADMINISTRADORES</strong>
            </a>
            <br><br>
            <a class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/login-docentes">
                <img src="./assets/img/opciones/docentes.png" alt="docentes icono boton">
                <br>
                <strong>DOCENTES</strong>
            </a>
            <br><br>
            <a class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/login-estudiantes">
                <img src="./assets/img/opciones/estudiantes.png" alt="estudiantes icono boton">
                <br>
                <strong>ESTUDIANTES</strong>
            </a>
            <br><br>
            <a class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/login-padres">
                <img src="./assets/img/opciones/padres-de-familia.png" alt="estudiantes icono boton">
                <br>
                <strong>PADRES DE FAMILIA</strong>
            </a>
        </form>
        <p class="mt-5 mb-3 text-muted">&copy; CEBE-2022</p>
    </main>

</body>

</html>