<div class="menu-container">
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
        <mat-icon>
            home
        </mat-icon>
        CEBE - Docencia
    </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img class="avatar mat-elevation-z8" src="./assets/img/menu/avatar.png" />
    
            <h4 class="name">Jorge Ramirez</h4>
            <p class="designation">Docente</p>
    
            <mat-divider></mat-divider>
            <!-- OK -->

            <button mat-button class="menu-button" routerLink="/home">
                <mat-icon>menu_book</mat-icon>
                <span>Mis Cursos</span>
            </button>
    
            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="/home">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
    
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
