<div class="menu-container">
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
        <mat-icon>
            home
        </mat-icon>
        CEBE | Administración
    </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img class="avatar mat-elevation-z8" src="./assets/img/menu/avatar.png" />
    
            <h4 class="name">Rick Sanchez</h4>
            <p class="designation">Administrador</p>
    
            <mat-divider></mat-divider>
            <!-- OK -->
            <button mat-button class="menu-button" routerLink="/menu-admins/cursos">
                <mat-icon>description</mat-icon>
                <span>Cursos</span>
            </button>
            
            <button mat-button class="menu-button" routerLink="/menu-admins/docentes">
                <mat-icon>group</mat-icon>
                <span>Docentes</span>
            </button>

            <button mat-button class="menu-button" routerLink="/menu-admins/aulas">
                <mat-icon>home</mat-icon>
                <span>Aulas</span>
            </button>

            <button mat-button class="menu-button" routerLink="/menu-admins/alumnos">
                <mat-icon>group</mat-icon>
                <span>Alumnos</span>
            </button>
    
            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="/home">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
    
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>