<div class="contenedor">
    <div class="encabezado">
        <div>
            <h1>🏫 <strong>NOMBRE DEL AULA</strong></h1>
        </div>
        <div>
            <button mat-raised-button type="button" class="btn btn-success" routerLink="/menu-admins/cursos-aula-agregar">
                <mat-icon>note_add</mat-icon>
                <span>Agregar Curso</span>
            </button>
        </div>
    </div>
    <!-- <hr class="solid"> -->
    <div class="contenido">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col" style="text-align: center;">Opciones</th>
                </tr>
            </thead>
            <!-- <tbody class="table-group-divider">
                <tr *ngFor="let curso of cursos_aula">
                    <td style="color:black"><strong>{{curso.nombre}}</strong></td>
                    <td>
                        <div class="btn-opciones">
                            <button type="button" class="btn btn-outline-warning"
                                routerLink="/menu-admins/editar-aula/{{aula.id_aula}}">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                (click)="confirmDelete(askEliminar, aula.id_aula)">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody> -->
        </table>
    </div>
    <!-- <router-outlet></router-outlet> -->
</div>

<!-- VENTANA MODAL CONFIRMAR ELIMINAR -->
<ng-template #askEliminar let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <mat-icon>
                warning
            </mat-icon>
            ¡ATENCIÓN!
        </h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Realmente deseas eliminar el registro?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">
            NO
        </button>
        <!-- <button type="button" class="btn btn-danger" (click)="delete(mensajeError)">
            SÍ
        </button> -->
    </div>
</ng-template>

<!-- VENTANA MODAL MENSAJE DE ERROR -->
<ng-template #mensajeError let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <mat-icon>
                error
            </mat-icon>
            Error!
        </h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        No se ha podido realizar la operacion. Es posible que otros datos dependan de este registro.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
            OK
        </button>
    </div>
</ng-template>

